.quick-add-drawer {
  visibility: hidden;
}
.quick-add-drawer.is-open {
  visibility: visible;
}
.quick-add-drawer.is-open .quick-add-drawer__overlay {
  opacity: 1;
}

.quick-add-drawer.is-open .quick-add-drawer__wrapper {
  transform: translateX(0);
}

.quick-add-drawer .quick-add-drawer__close {
  background: #11415f;
  border: none;
  position: absolute;
  top: 25px;
  left: 25px;
  cursor: pointer;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quick-add-drawer .quick-add-drawer__close .icon-close {
  width: 10px;
  height: 10px;
}

.quick-add-drawer .quick-add-drawer__close .icon-close path {
  fill: #fff;
  stroke: #fff;
}

.quick-add-drawer .quick-add-drawer__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 9999;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.quick-add-drawer .quick-add-drawer__overlay:empty {
  display: block;
}

.quick-add-drawer .quick-add-drawer__wrapper {
  background: #fff;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  max-width: 400px;
  padding: 25px 25px;
  z-index: 2147483001;
  transform: translateX(100%);
  transition: all 0.3s ease-in-out;
}

.quick-add-drawer__content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.quick-add-drawer__content h2 {
  font-size: 21px;
  color: #1e415f;
  font-weight: 700;
  font-family: "Rubik", sans-serif;
  width: 100%;
  text-align: center;
}

.quick-add-drawer__content h2 + p {
  font-size: 14px;
  line-height: 23px;
  color: #414b56;
  margin: 15px 0 0 0;
}

.quick-add-drawer__content .product-variant__swatch {
  display: flex;
  align-items: center;
  gap: 24px;
  padding: 7px 10px;
  min-height: 78px;
  background: #fff;
  border-radius: 15px;
  margin-top: 12px;
  cursor: pointer;
  background-color: #f8f8f8;
  border: 1px solid #d5d9dc;
}

.quick-add-drawer__content .product-variant__swatch.active {
  background: #f1f7fc;
  border: 2px solid #4090d1;
  border-radius: 15px;
}

.quick-add-drawer__content .product-variant__swatch.active .svg-strips path {
  fill: #f0752d;
}

.quick-add-drawer__content .product-variant__swatch .for-week {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 5px;
  color: #414b56;
}

.quick-add-drawer__content .product-variant__swatch .item_total {
  font-size: 13px;
  line-height: 19px;
  color: #414b56;
}

.quick-add-drawer__content .product-variant__swatch .l-through {
  text-decoration: line-through;
  color: #5e788d;
}

.quick-add-drawer__content .product-variant__swatch .badges {
  margin-left: auto;
}

.quick-add-drawer__content .product-variant__swatch .months {
  font-size: 12px;
  line-height: 16px;
  text-align: right;
  color: #1e415f;
}

.quick-add-drawer__content .product-variant__swatch .top-seller,
.quick-add-drawer__content .product-variant__swatch .best-deal,
.quick-add-drawer__content .product-variant__swatch .sale {
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #ffffff;
  padding: 2px 7px;
  margin-bottom: 4px;
  border-radius: 5px;
  width: fit-content;
  margin-left: auto;
}

.quick-add-drawer__content .product-variant__swatch .top-seller {
  background: #3f90d1;
}

.quick-add-drawer__content .product-variant__swatch .best-deal {
  background: #1e415f;
}

.quick-add-drawer__content .product-variant__swatch .sale {
  background: #f0752d;
}

.quick-add-drawer__quantity {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 140px;
  margin: 16px auto 0;
}

.quick-add-drawer__quantity--label.hidden {
  visibility: hidden;
}

.quick-add-drawer__quantity .qty__button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 1px solid #6d6e75;
  font-size: 20px;
  cursor: pointer;
  background-color: #fff;
  flex-shrink: 0;
}

.quick-add-drawer__quantity .quick-add-drawer__quantity-input {
  appearance: none;
  pointer-events: none;
  border: none;
  color: #414b56;
  background: transparent;
  width: min-content;
  max-width: 50px;
  font-size: 22px;
  font-weight: 700;
  padding: 0;
  flex-grow: 1;
  text-align: center;
  margin-left: 13px;
}

.quick-add-drawer__special-note {
  margin-top: 12px;
  text-align: center;
  font-size: 11px;
  line-height: 13px;
  color: #414b56;
}

.quick-add-drawer__total {
  margin-top: auto;
  text-align: center;
}

.quick-add-drawer__total .regular-price-total {
  padding: 0 3px;
  font-weight: 700;
  font-size: 24px;
  line-height: 26px;
  color: #1e415f;
}

.quick-add-drawer__total .compare-price {
  text-decoration: line-through;
  font-size: 20px;
  padding: 0 3px;
  line-height: 26px;
  color: #5e788d;
  font-weight: 400;
}

.quick-add-drawer__subscription {
  display: flex;
  text-align: left;
  padding: 14px;
  margin-bottom: 0;
  background: #fef7e8;
  border: 1px solid #f5f6f7;
  border-radius: 10px;
  margin-top: 10px;
  gap: 10px;
}

.quick-add-drawer__subscription .subscription__header {
  font-family: "Roboto";
  font-weight: 500;
  display: inline;
  font-size: 16px;
  line-height: 24px;
  color: #14425e;
}

.quick-add-drawer__subscription .subscription__header span {
  color: #F27113;
}

.quick-add-drawer__subscription .subscription__info {
  font-size: 12px;
  line-height: 17px !important;
  font-weight: 400;
  color: #1E415F;
}

.quick-add-drawer__add-to-cart {
  margin-top: 10px;
}

.quick-add-drawer__add-to-cart button.button--primary.is-large {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  padding: 14px;
}

.quick-add-drawer__subscription-checkbox {
  position: relative;
  display: inline-block;
}

.quick-add-drawer__subscription-checkbox input[type="checkbox"] {
  display: none;
}

.quick-add-drawer__subscription-checkbox label {
  width: 24px;
  height: 24px;
  display: inline-block;
  border: 1px solid #14425E;
  border-radius: 2px;
  cursor: pointer;
  position: relative;
  background-color: #fff;
  transition: background-color 0.3s, border-color 0.3s;
}

.quick-add-drawer__subscription-checkbox label::after {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='13' viewBox='0 0 18 13' fill='none'%3E%3Cpath d='M6.30711 9.89289C5.91658 10.2834 5.28342 10.2834 4.89289 9.89289L2.1 7.1C1.7134 6.7134 1.0866 6.7134 0.7 7.1V7.1C0.313401 7.4866 0.313401 8.1134 0.7 8.5L4.89289 12.6929C5.28342 13.0834 5.91658 13.0834 6.30711 12.6929L16.9 2.1C17.2866 1.7134 17.2866 1.0866 16.9 0.7V0.7C16.5134 0.313401 15.8866 0.313401 15.5 0.7L6.30711 9.89289Z' fill='%2314425E'/%3E%3C/svg%3E");
  position: absolute;
  transform: scale(0);
  margin-left: 2px;
  transform-origin: center;
  transition: transform 0.3s ease;
}

.quick-add-drawer__subscription-checkbox input[type="checkbox"]:checked + label::after {
  transform: scale(1);
}

button[data-open-get-somnifix-drawer] {
  white-space: nowrap;
}